.menu {
  position: absolute;
  top: 2%;
  right: 2%;
  width: auto;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 16px;
  gap: 22px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.menu-button__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: none;
  border-radius: 10px;
  align-items: center;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}

.menu-button__container:hover {
  background-color: #e8e8e8;
}

.menu-button {
  width: auto;
  background: none;
  border: none;
}

.menu-button__icon {
  width: 32px;
  height: 100%;
  object-fit: cover;
}

.menu-button__name {
  margin: 0;
  font-size: 14px;
}
