@import url("./fonts/fonts.css");
@import url("./blocks/popup.css");
@import url("./blocks/chapterStatus.css");
@import url("./blocks/menuBar.css");
@import url("./blocks/bagPopup.css");
@import url("./blocks/chapterCard.css");
@import url("./blocks/page.css");
@import url("./blocks/readChapter.css");
@import url("./blocks/getChapterPopup.css");
@import url("./blocks/getHiddenItemPopup.css");

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}
